@{
    ViewData["Title"] = "Tableros"; // titulo de la pestaña
}

@using tl2_tp10_2023_alvaroad29.ViewModels
@model ListaTablerosViewModel

<a type="button"  asp-controller="Tablero" asp-action="Create" class="link-crear icon-link shadow p-3 mb-2 bg-body-tertiary rounded">
        <i class="bi bi-plus"></i>
        Nuevo
</a>

<div class="card">
    <div class="card-header text-center">
         <h4>Todos los tableros</h4>
    </div>
    <div class="card-body">
        
        @if (Model.TodosTablerosVM.Count != 0)
        {
        <table class="display nowrap table-striped" style="width:100%" id="myTable" >
            <thead>
                <tr>
                    <th></th>
                    <th>Usuario propietario</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th></th>
                    <th></th>
                    <th hidden>ID</th> <!-- oculto el id--->
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.TodosTablerosVM)
                {
                    <tr>
                        <td></td>
                        <td>@t.nombreUsuarioPropietario</td>
                        <td>@t.Nombre</td>
                        <td>@t.Descripcion</td>
                        <td class = "td-dropdown">
                        @if(t.Modificable == true)
                        {
                            <div class="nav-item dropdown-center">
                                <i class="bi bi-three-dots-vertical" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a type="button" asp-controller="Tablero" asp-action="Update" asp-route-id="@t.Id" class="dropdown-item d-flex align-items-center" aria-pressed="false">
                                            <i class="bi bi-pencil-fill me-2"></i>
                                                Modificar
                                        </a>
                                    </li>
                                    <li>
                                        <a type="button" asp-controller="Tablero" asp-action="Delete" asp-route-id="@t.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')" class="dropdown-item d-flex align-items-center" aria-pressed="false">
                                            <i class="bi bi-trash-fill me-2"></i>
                                            Eliminar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        }
                        </td>
                        <td>
                            <a type="button" class="btn btn-primary" asp-controller="Tarea" asp-action="Index" asp-route-id="@t.Id">
                                <i class="bi bi-plus-lg"></i>
                                Ver Tareas
                            </a>
                        </td>
                        <td hidden>@t.Id</td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
<script src="~/js/site5.js"></script>