@{
    ViewData["Title"] = "Tareas"; // titulo de la pestaña
}
@using tl2_tp10_2023_alvaroad29.ViewModels

@model ListarTareasAsignadasViewModel

<div class = "text-center">
    <h1>Tablero : @Model.NombreTablero - Usuario propietario : @Model.UsuarioPropietario</h1>
</div>

<div class="card text-center">
    @* <div class="card-header">
         <h2>Tareas</h2>
    </div> *@
    <div class="card-header">
        <i class="bi bi-clipboard-data-fill"></i>
        <h4>@Model.NombreTablero</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th hidden>ID</th> <!-- oculto el id--->
                    <th hidden>Id tablero</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Color</th>
                    <th>Usuario asignado</th>
                    <th>Estado</th>
                    @* <th></th>
                    <th></th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.TareasVM)
                {
                    <tr>
                        <td hidden>@t.Id</td>
                        <td hidden>@t.Id_tablero</td>
                        <td>@t.Nombre</td>
                        <td>@t.Descripcion</td>
                        <td>@t.Color</td>
                        <td>@t.NombreUsuarioAsignado</td>
                        
                        @if(t.Modificable == true)
                        {
                            <td>
                                <form id="cambiarEstadoForm" asp-controller="Tarea" asp-action="UpdateEstado">
                                    <input type="hidden" name = "idTablero" value = "@t.Id_tablero">
                                    <input type="hidden" name = "id" value ="@t.Id" />
                                    <div class="input-group">
                                        <select asp-for="@t.Estado" class="form-select" class="form-control" asp-items="@Html.GetEnumSelectList<EstadoTarea>()" id="estadoSelect" name = "estado">
                                        </select>
                                        <button class="btn btn-outline-secondary" type="submit">Cambiar</button>
                                    </div>
                                </form>

                                @* <script>
                                    document.getElementById("estadoSelect").addEventListener("change", function () {
                                        document.getElementById("cambiarEstadoForm").submit();
                                    });
                                </script>  *@
                                @* a veces no se manda el form *@
                            </td>
                        }else{
                            <td>@t.Estado</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
