@using tl2_tp10_2023_alvaroad29.ViewModels

@model CrearUsuarioViewModel


<div class="row justify-content-center ">
    <div class="col-5">
        <div class="text-center">
            <h1 class="h3 mb-3 fw-normal">Crear usuario</h1>
        </div>
        <form asp-controller="Usuario" asp-action="Create">
            <div class="mb-4">
                <div class="input-group">
                    <label asp-for="@Model.NombreDeUsuario" class="input-group-text" >
                        <img  src="~/icons/user-solid.svg" alt="icono persona">
                    </label>
                    <input asp-for="@Model.NombreDeUsuario" class="form-control" placeholder="nombre de usuario" aria-label="nombre de usuario" aria-describedby="basic-addon1"/>
                </div>
                <span asp-validation-for="@Model.NombreDeUsuario" class="text-danger"></span>
                @* @if (ViewData.ModelState.Count > 0)
                {
                    <span class="text-danger" >
                        @foreach (var modelError in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            @modelError.ErrorMessage
                        }
                    </span>
                }     *@
            </div>
            <div class="mb-4">
                <div class="input-group">
                    <label asp-for="@Model.Contrasenia"  class="input-group-text">
                        <img src="~/icons/lock-solid.svg" alt="icono candado">
                    </label>
                    <input asp-for="@Model.Contrasenia" class="form-control" placeholder="contraseña" aria-label="contraseña" aria-describedby="basic-addon1"/>
                </div>
                <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>    
            </div>
            @if(Context.Session.GetString("NivelDeAcceso") == enumRol.admin.ToString())
            {
                <div class="mb-4">
                    <div class="input-group">
                        <label asp-for="@Model.Rol" class="input-group-text" id="basic-addon1" >
                            <img src="~/icons/users-gear-solid.svg" alt="inico usuarios">
                        </label>
                        <select class="form-select" asp-for="@Model.Rol" class="form-control" asp-items="@Html.GetEnumSelectList<enumRol>()">
                        </select>
                    </div>
                    <span asp-validation-for="@Model.Rol" class="text-danger"></span>    
                </div>
            }else{
                <input hidden asp-for="@Model.Rol" value = "@enumRol.operador">
            }
            <div class=" d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
@section Scripts { <partial name="_ValidationScriptsPartial" /> 
    <script>
         $(document).ready(function () {
        $("#NombreDeUsuario").keyup(function () {
            $("#NombreDeUsuario").valid();
        });
    });
    </script>
}