@{
    ViewData["Title"] = "Usuarios"; // titulo de la pestaña
}

@* para q reconozca el viewModel *@
@* o asi ----->   @model MVC.ViewModels.ProductoViewModel *@


@using tl2_tp10_2023_alvaroad29.ViewModels 

@model ListaUsuariosViewModel




<section>
    <article>

        <a type="button"  asp-controller="Usuario" asp-action="Create" class="link-crear icon-link shadow p-3 mb-2 bg-body-tertiary rounded">
            <i class="bi bi-plus"></i>
            Nuevo
        </a>
        @* @if(Context.Session.GetString("NivelDeAcceso") == enumRol.admin.ToString())
        { *@
            <div class="card">
                <div class="card-header text-center">
                    <h4>Todos los usuarios</h4>
                </div>
                <div  class="card-body">
                    <table  class="display nowrap table-striped" style="width:100%" id="myTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Usuario</th>
                                <th>Rol</th>
                                <th></th>
                                <th hidden>ID</th> <!-- oculto el id--->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usuario in Model.UsuariosVM)
                            {
                                <tr>
                                    <td></td>
                                    <td>@usuario.NombreDeUsuario</td>
                                    <td>@usuario.Rol.ToString()</td>
                                    <td>
                                        <div class="nav-item dropdown-center">
                                            <i class="bi bi-three-dots-vertical" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a type="button" asp-controller="Usuario" asp-action="Update" asp-route-id="@usuario.Id" class="dropdown-item d-flex align-items-center" aria-pressed="false">
                                                        <i class="bi bi-pencil-fill me-2"></i>
                                                        Modificar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a type="button" asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')" class="dropdown-item d-flex align-items-center" aria-pressed="false">
                                                        <i class="bi bi-trash-fill me-2"></i>
                                                        Eliminar
                                                    </a>  
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td hidden>@usuario.Id</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </article>
</section>
<script src="~/js/site6.js"></script>