@{
    ViewData["Title"] = "Usuarios"; // titulo de la pestaña
}

@using tl2_tp10_2023_alvaroad29.ViewModels

@model ListaUsuariosViewModel

<div class="container">
    <h2>Lista Usuarios</h2>

    <table class="table">
        <thead>
            <tr>
                <th hidden>ID</th> <!-- oculto el id--->
                <th>Usuario</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.UsuariosVM)
            {
                <tr>
                    <td hidden>@usuario.Id</td>
                    <td>@usuario.NombreDeUsuario</td>
                    <td>@usuario.Rol.ToString()</td>
                    <td>
                            <a asp-controller="Usuario" asp-action="Update" asp-route-id="@usuario.Id" class="btn btn-primary">Modificar</a>
                            <a asp-controller="Usuario" asp-action="Delete" asp-route-id="@usuario.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')" class="btn btn-primary">Eliminar</a>  
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a type="button" class="btn btn-primary btn-lg" asp-controller="Usuario" asp-action="Create">Crear Usuario</a>
</div>